<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <appSettings>
      <add key="OutlookSubject" value="Информация по насосам БНС Верхозим"/>
      <add key="OutlookTo" value="yurzinin@ulneft.ru; mayoroviv@ulneft.ru"/>
      <add key="OutlookBody" value="Сообщение готово к отправке с вложенным файлом или ссылкой."/>
    </appSettings>
</configuration>